.blackSquare {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color:black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.squareGroup {
    display: flex;
    flex-wrap: wrap;
}
